@media (min-width: 0px) and (max-width: 544px) {
  table{
    padding-top : 20px;
  }
  .salat-of-month {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .container-horaires-list-normal {
      cursor: pointer;
      display: flex;
      margin: 5px;
      background-color: #eaeaea;
      color: #aa75ff;
      height: 60px;
      opacity: 1;
      width: 17vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 2px 3px 6px 1px #00000042;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 15px;
      }
      .td-list-times-date {
        font-size: 6px;
      }
    }
    .container-horaires-list-passed {
      cursor: pointer;
      display: flex;
      margin: 5px;
      background: #eaeaea none repeat scroll 0% 0%;
      color: #aa75ff57;
      height: 60px;
      width: 17vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0px 2px 5px 0px #00000042;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 15px;
      }
      .td-list-times-date {
        font-size: 6px;
      }
    }
    .container-horaires-list-today {
      cursor: pointer;
      display: flex;
      margin: 5px;
      background-image: linear-gradient(
        135deg,
        #9147ff 0%,
        #9a57ff 21%,
        #9e61ff 30%,
        #a46bff 39%,
        #aa75ff 46%,
        #b080ff 54%,
        #b78aff 61%,
        #bc8fff 69%,
        #c299ff 79%,
        #c69eff 100%
      );

      color: #eaeaea;
      opacity: 1;
      height: 65px;
      width: 17vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 2px 6px 6px 2px #00000042;
      margin-top: 0em;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 15px;
      }
      .td-list-times-date {
        font-size: 6px;
      }
    }
  }
}
@media (min-width: 545px) and (max-width: 799px) {
  .salat-of-month {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .container-horaires-list-normal {
      cursor: pointer;
      display: flex;
      margin: 5px;
      background-color: #eaeaea;
      color: #aa75ff;
      height: 100px;
      opacity: 1;
      width: 17vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 2px 3px 6px 1px #00000042;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 20px;
      }
      .td-list-times-date {
        font-size: 10px;
      }
    }
    .container-horaires-list-passed {
      background: #eaeaea none repeat scroll 0% 0%;
      color: #aa75ff57;
      cursor: pointer;
      display: flex;
      margin: 5px;
      height: 100px;
      opacity: 1;
      width: 17vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 0px 2px 5px 0px #00000042;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 20px;
      }
      .td-list-times-date {
        font-size: 10px;
      }
    }
    .container-horaires-list-today {
      background-image: linear-gradient(
        135deg,
        #9147ff 0%,
        #9a57ff 21%,
        #9e61ff 30%,
        #a46bff 39%,
        #aa75ff 46%,
        #b080ff 54%,
        #b78aff 61%,
        #bc8fff 69%,
        #c299ff 79%,
        #c69eff 100%
      );

      color: #eaeaea;
      cursor: pointer;
      display: flex;
      margin: 5px;
      height: 105px;
      opacity: 1;
      width: 18vw;
      border-radius: 3px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      box-shadow: 2px 6px 6px 2px #00000042;
      margin-top: 0em;
      .td-list-times {
        display: none;
      }
      .count {
        font-size: 20px;
      }
      .td-list-times-date {
        font-size: 10px;
      }
    }
  }
}
@media (min-width: 800px) {
  table {
    width: 100%;
    margin-top: 5%;
    .thead-name-of-times {
      display: block;
      margin-left: 6.5%;
      width: 88%;
      color: #aa75ff;
    }
    .count {
      display: none;
    }
    .name-of-times-list {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      color: #aa75ff;
    }
    .salat-of-month {
      color: #605b56;
      margin-left: 5%;
      display: block;
      width: 89%;

      .container-horaires-list-passed {
        background: #eaeaea none repeat scroll 0% 0%;
        color: #aa75ff57;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        height: 40px;
        border-radius: 11px;
        padding-top: 1.5%;
        box-shadow: 0px 2px 5px 0px #00000042;
      }
      .container-horaires-list-normal {
        display: flex;
        justify-content: space-evenly;
        background-color: #eaeaea;
        color: #aa75ff;
        margin-top: 10px;
        height: 40px;
        border-radius: 11px;
        padding-top: 1.5%;
        box-shadow: 2px 3px 6px 1px #00000042;
      }
      .container-horaires-list-today {
        display: flex;
        justify-content: space-evenly;
        background-image: linear-gradient(
          135deg,
          #9147ff 0%,
          #9a57ff 21%,
          #9e61ff 30%,
          #a46bff 39%,
          #aa75ff 46%,
          #b080ff 54%,
          #b78aff 61%,
          #bc8fff 69%,
          #c299ff 79%,
          #c69eff 100%
        );
  
        color: #eaeaea;
        margin-top: 10px;
        height: 40px;
        border-radius: 11px;
        padding-top: 1.5%;
        box-shadow: 2px 6px 6px 2px #00000042;
      }
    }
  }
}
