.instruction{
    color: #aa75ff;
    font-size: 19px;
    text-align: center;
    margin: 60px auto auto auto;
    width: 75%;

}
.Today__div--container-list-pannel{
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 622px){
        flex-direction: column-reverse;
    }
} 